# Page Visits Funnel Project

### Introduction:

The aim of this project is to analyze data on visits the finctional __Cool T-Shirts Inc website__. The main aim is to build a __funnel__, a description of how many people continue to the next step of a multi-step process. The __funnel__ is going to describe the following process:
1. A user visits CoolTShirts.com
2. A user adds a t-shirt to their cart
3. A user clicks “checkout”
4. A user actually purchases a t-shirt

#### Information about the DataFrames:

1. `visits` lists all of the users who have visited the website
2. `cart` lists all of the users who have added a t-shirt to their cart
3. `checkout` lists all of the users who have started the checkout
4. `purchase` lists all of the users who have purchased a t-shirt

***

In [8]:
import pandas as pd
import numpy as np

Import all the files

In [9]:
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
                   
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

Step 1: Inspect the DataFrames using `print` and `head`

In [10]:
print(visits.head(5))
print(cart.head(5))
print(checkout.head(5))
print(purchase.head(5))

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

Step 2: Left merging visits and cart

In [11]:
visits_cart = pd.merge(visits, cart, how='left') 

#This code will include all the users from the `visits` DataFrame (who visited the website) and only those users from `cart` DataFrame that matches with `Visits` rows.

In [13]:
visits_cart.head(25)

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT
5,7bc62113-d51d-4e6b-85e0-1cf29e3de74a,2017-06-03 20:05:00,NaT
6,6f22cd44-bc63-4449-a9af-2651859da2f9,2017-03-18 23:09:00,NaT
7,49a6399b-c095-4e42-92eb-af90abe2bb6a,2017-01-10 12:09:00,NaT
8,653c095d-fd74-40dd-ae3b-5a69a2613629,2017-06-27 19:21:00,NaT
9,3d9fdac1-aae3-4a01-b448-934d12047468,2017-09-24 06:43:00,NaT
10,1955acc9-5228-4277-beed-fd23f0f355b3,2017-04-20 23:01:00,NaT
11,a627ba57-b34d-4166-8b78-1ff3f46f5478,2017-08-11 13:41:00,NaT
12,10d5a3e0-1d72-4bea-9670-f0f0234d6e48,2017-02-26 10:09:00,NaT
13,0c1fa5fe-27c1-4e1f-b353-26a428da2832,2017-07-04 09:56:00,NaT
14,486480e2-98c3-4d51-8f4b-b1c07228ce84,2017-01-27 16:34:00,2017-01-27 16:44:00
15,2f954f3f-e621-4be2-9d3f-e9dc8afe38dd,2017-10-19 03:22:00,NaT
16,7a3030d1-37a4-4ed1-a410-84f50f991903,2017-09-05 18:27:00,NaT
17,d8b14a61-cc64-4e56-be6e-cd8d3b35eece,2017-08-22 15:55:00,NaT
18,a9e73e1a-0fd1-4514-b163-03a76a216069,2017-04-02 06:40:00,NaT
19,335fe581-92e1-4f3c-a5f4-2600f50007a9,2017-11-08 14:39:00,NaT
20,50840100-eccb-44f7-b3f1-c7a108456603,2017-09-27 10:17:00,NaT
21,d1e1de15-8eda-4b63-a584-5d205d32544e,2017-02-16 22:10:00,NaT
22,0a761369-3fed-4eb9-a14a-dd4e0f0e1741,2017-02-03 15:31:00,NaT
23,c190b70e-ff9f-4e76-bfb9-eb9a5e54a7e7,2017-08-11 09:27:00,NaT
24,c02a4dbb-8e6e-4296-b73b-4e8896f7ab35,2017-05-13 11:25:00,NaT

Step 3: How long is `visits_cart`?

In [14]:
print('The visits_cart DataFrame has ' + str(len(visits_cart)) + ' lines/rows.')

The visits_cart DataFrame has 2000 lines/rows.

Step 4: How many timestamps are null for `cart_time`?

In [20]:
null_cart_times = len(visits_cart[visits_cart.cart_time.isnull()])

print('There are ' + str(null_cart_times) + ' null values.')

There are 1652 null values.

This means 1652 users who visited the website did not put the T-Shirt in the cart.

Step 5: What percent of users who visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart?

In [47]:
in_cart_after_visit_percentage_ = round(null_cart_times / len(visits_cart), 2)

print('Around ' + str(in_cart_after_visit_percentage_ * 100) + '% of users who visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart.')

Around 83.0% of users who visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart.

Step 6: What percentage placed a t-shirt in their cart but did not checkout?

In [34]:
cart_checkout = pd.merge(cart,
                         checkout,
                         how='left')
cart_checkout.head(25)

,user_id,cart_time,checkout_time
0,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:14:00
1,4397f73f-1da3-4ab3-91af-762792e25973,2017-05-27 01:35:00,NaT
2,a9db3d4b-0a0a-4398-a55a-ebb2c7adf663,2017-03-04 10:38:00,2017-03-04 11:04:00
3,b594862a-36c5-47d5-b818-6e9512b939b3,2017-09-27 08:22:00,2017-09-27 08:26:00
4,a68a16e2-94f0-4ce8-8ce3-784af0bbb974,2017-07-26 15:48:00,NaT
5,0c998868-9961-490b-8ec2-9981ba667027,2017-11-27 08:54:00,2017-11-27 09:18:00
6,f783c680-1d9a-437d-9f45-7827299b78fa,2017-06-25 08:08:00,2017-06-25 08:28:00
7,f3dd7631-3cf6-4d49-9c6e-b48eda4432b5,2017-01-04 09:57:00,2017-01-04 10:20:00
8,4cdd357a-199e-4d81-ae9e-7252fa34ee0f,2017-05-23 22:25:00,2017-05-23 22:54:00
9,3c3460b3-a56d-4d92-908d-29dcca34db18,2017-01-06 14:56:00,2017-01-06 15:06:00
10,fd80ce93-ae6e-4c0b-9ea4-561f84152026,2017-06-07 01:18:00,NaT
11,dec63120-f40f-4bd1-b53d-45b07709f0dc,2017-01-21 09:56:00,2017-01-21 10:19:00
12,d24cec40-b66a-47ad-afb1-aa19b00eab53,2017-05-16 08:21:00,2017-05-16 08:32:00
13,ff2f2aef-6ca8-45a1-9ae7-46ebdbd81c3c,2017-11-09 12:06:00,2017-11-09 12:14:00
14,5560ba27-4e5f-4523-9b34-a80162a826e5,2017-04-22 14:35:00,2017-04-22 15:00:00
15,5c654a76-fb7e-4e4f-879b-a9543426a5dd,2017-07-19 18:20:00,2017-07-19 18:47:00
16,587456c0-fdc4-4aea-bd18-7fc854bc0f81,2017-06-03 03:19:00,2017-06-03 03:43:00
17,4b44ace4-2721-47a0-b24b-15fbfa2abf85,2017-05-11 03:54:00,2017-05-11 03:54:00
18,0182a7b9-2099-4476-8f7d-51f2c2f71dff,2017-09-08 16:34:00,2017-09-08 16:59:00
19,48a23075-694b-417d-8449-9df921ad95aa,2017-07-09 15:28:00,NaT
20,13019e8b-8ec9-4adc-9660-8c6337575ab8,2017-07-20 12:31:00,2017-07-20 12:55:00
21,5d7d121a-817c-4b84-b4d6-5388092b9aec,2017-06-10 14:54:00,NaT
22,36490e24-bb36-4989-8343-2320fdf79105,2017-11-20 04:19:00,2017-11-20 04:41:00
23,aa06c7c7-77c8-48a1-9232-5212fa16025b,2017-07-14 02:07:00,2017-07-14 02:32:00
24,e743addf-738a-4aa0-8dc6-c849c6e50d79,2017-01-12 12:35:00,2017-01-12 12:47:00

The table above shows all the users who put the Cool T-Shirts Inc. in the cart and it will show the time of those who actually went to the "checkout" stage.
Any "NaT" value indicates the t-shirt has been put in the cart but not moved to the "checkout" stage.

In [35]:
cart_checkout_lenght = len(cart_checkout)
print(str(cart_checkout_lenght) + ' users put the Cool T-shirt Inc. in the cart.')

348 users put the Cool T-shirt Inc. in the cart.

In [39]:
cart_but_not_checkout = len(cart_checkout[cart_checkout.checkout_time.isnull()])
print(str(cart_but_not_checkout) + ' users put users put the Cool T-shirt Inc. in the cart but ndid not go to the checkout stage.')

122 users put users put the Cool T-shirt Inc. in the cart but ndid not go to the checkout stage.

In [48]:
cart_but_not_checkout_perc = (cart_but_not_checkout / cart_checkout_lenght) * 100

print(str(round(cart_but_not_checkout_perc, 2)) + '% users put items in their cart but did not proceed to checkout.')

35.06% users put items in their cart but did not proceed to checkout.

Step 7: Merge it all together

In [64]:
all_data = visits.merge(cart, how='left').merge(checkout, how='left').merge(purchase, how='left')
all_data.head(35)

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT
5,7bc62113-d51d-4e6b-85e0-1cf29e3de74a,2017-06-03 20:05:00,NaT,NaT,NaT
6,6f22cd44-bc63-4449-a9af-2651859da2f9,2017-03-18 23:09:00,NaT,NaT,NaT
7,49a6399b-c095-4e42-92eb-af90abe2bb6a,2017-01-10 12:09:00,NaT,NaT,NaT
8,653c095d-fd74-40dd-ae3b-5a69a2613629,2017-06-27 19:21:00,NaT,NaT,NaT
9,3d9fdac1-aae3-4a01-b448-934d12047468,2017-09-24 06:43:00,NaT,NaT,NaT
10,1955acc9-5228-4277-beed-fd23f0f355b3,2017-04-20 23:01:00,NaT,NaT,NaT
11,a627ba57-b34d-4166-8b78-1ff3f46f5478,2017-08-11 13:41:00,NaT,NaT,NaT
12,10d5a3e0-1d72-4bea-9670-f0f0234d6e48,2017-02-26 10:09:00,NaT,NaT,NaT
13,0c1fa5fe-27c1-4e1f-b353-26a428da2832,2017-07-04 09:56:00,NaT,NaT,NaT
14,486480e2-98c3-4d51-8f4b-b1c07228ce84,2017-01-27 16:34:00,2017-01-27 16:44:00,2017-01-27 17:10:00,2017-01-27 17:12:00
15,2f954f3f-e621-4be2-9d3f-e9dc8afe38dd,2017-10-19 03:22:00,NaT,NaT,NaT
16,7a3030d1-37a4-4ed1-a410-84f50f991903,2017-09-05 18:27:00,NaT,NaT,NaT
17,d8b14a61-cc64-4e56-be6e-cd8d3b35eece,2017-08-22 15:55:00,NaT,NaT,NaT
18,a9e73e1a-0fd1-4514-b163-03a76a216069,2017-04-02 06:40:00,NaT,NaT,NaT
19,335fe581-92e1-4f3c-a5f4-2600f50007a9,2017-11-08 14:39:00,NaT,NaT,NaT
20,50840100-eccb-44f7-b3f1-c7a108456603,2017-09-27 10:17:00,NaT,NaT,NaT
21,d1e1de15-8eda-4b63-a584-5d205d32544e,2017-02-16 22:10:00,NaT,NaT,NaT
22,0a761369-3fed-4eb9-a14a-dd4e0f0e1741,2017-02-03 15:31:00,NaT,NaT,NaT
23,c190b70e-ff9f-4e76-bfb9-eb9a5e54a7e7,2017-08-11 09:27:00,NaT,NaT,NaT
24,c02a4dbb-8e6e-4296-b73b-4e8896f7ab35,2017-05-13 11:25:00,NaT,NaT,NaT
25,d798d0a0-cf1a-4f08-aec8-454d60ef8330,2017-11-11 14:49:00,NaT,NaT,NaT
26,38a610b6-3734-448a-a352-531c7a7a55e8,2017-07-23 23:05:00,NaT,NaT,NaT
27,b5e01ff4-73dc-4e02-ab93-a635918099c6,2017-07-26 18:07:00,NaT,NaT,NaT
28,5b64bd11-749b-42bf-abe8-babddfa1c085,2017-07-25 07:03:00,NaT,NaT,NaT
29,aaef3da8-662f-424d-9a72-f0eb6063c508,2017-07-26 09:46:00,NaT,NaT,NaT
30,7f57132e-1368-4b4a-87d2-2cd3218710c3,2017-04-14 19:20:00,NaT,NaT,NaT
31,1868e912-b38c-4ef0-8824-5665c42288e5,2017-03-17 11:48:00,2017-03-17 11:56:00,2017-03-17 11:58:00,NaT
32,4d4396f0-63d8-4a7a-8bf1-1229725ab8bd,2017-09-27 23:45:00,NaT,NaT,NaT
33,581f5615-178c-46f5-bc88-eaec0fe7d2b2,2017-07-15 15:56:00,NaT,NaT,NaT
34,14179b52-57c8-4892-90aa-85673ee330fe,2017-02-19 07:34:00,NaT,NaT,NaT

Step 8: % of users who got to checkout but did not purchase

In [92]:
checkout_purchased = checkout.merge(purchase, how='left')

checkout_not_purchased = len(checkout_purchased[checkout_purchased.purchase_time.isnull()])

perc_checkout_not_purchased = round(checkout_not_purchased / len(checkout_purchased) * 100, 2)
print(str(perc_checkout_not_purchased) + '% users who got to checkout but did not purchase the T-shirt.')

24.55% users who got to checkout but did not purchase the T-shirt.

Step 9: check each part of the funnel, let's print all 3 of them again

In [106]:
print('Percentage of users who visit the website but do not place item in cart: {}.'.format(in_cart_after_visit_percentage_ * 100))
print('Percentage of users who place the item in cart but do not checkout: {}.'.format(round(cart_but_not_checkout_perc, 2)))
print('Percentage of users who go to checkout but do not purchase the item: {}.'.format(perc_checkout_not_purchased))

Percentage of users who visit the website but do not place item in cart: 83.0.
Percentage of users who place the item in cart but do not checkout: 35.06.
Percentage of users who go to checkout but do not purchase the item: 24.55.

*The weakest part of the funnel is clearly getting a person who visited the site to add a tshirt to their cart. Once they've added a t-shirt to their cart it is fairly likely they end up purchasing it. A suggestion could be to make the add-to-cart button more prominent on the front page.*


Step 10: adding new column - Using the giant merged DataFrame `all_data`, calculate the average time from initial visit to final purchase.  Add a column that is the difference between purchase_time and visit_time.

In [107]:
all_data.head(25)

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT
5,7bc62113-d51d-4e6b-85e0-1cf29e3de74a,2017-06-03 20:05:00,NaT,NaT,NaT
6,6f22cd44-bc63-4449-a9af-2651859da2f9,2017-03-18 23:09:00,NaT,NaT,NaT
7,49a6399b-c095-4e42-92eb-af90abe2bb6a,2017-01-10 12:09:00,NaT,NaT,NaT
8,653c095d-fd74-40dd-ae3b-5a69a2613629,2017-06-27 19:21:00,NaT,NaT,NaT
9,3d9fdac1-aae3-4a01-b448-934d12047468,2017-09-24 06:43:00,NaT,NaT,NaT
10,1955acc9-5228-4277-beed-fd23f0f355b3,2017-04-20 23:01:00,NaT,NaT,NaT
11,a627ba57-b34d-4166-8b78-1ff3f46f5478,2017-08-11 13:41:00,NaT,NaT,NaT
12,10d5a3e0-1d72-4bea-9670-f0f0234d6e48,2017-02-26 10:09:00,NaT,NaT,NaT
13,0c1fa5fe-27c1-4e1f-b353-26a428da2832,2017-07-04 09:56:00,NaT,NaT,NaT
14,486480e2-98c3-4d51-8f4b-b1c07228ce84,2017-01-27 16:34:00,2017-01-27 16:44:00,2017-01-27 17:10:00,2017-01-27 17:12:00
15,2f954f3f-e621-4be2-9d3f-e9dc8afe38dd,2017-10-19 03:22:00,NaT,NaT,NaT
16,7a3030d1-37a4-4ed1-a410-84f50f991903,2017-09-05 18:27:00,NaT,NaT,NaT
17,d8b14a61-cc64-4e56-be6e-cd8d3b35eece,2017-08-22 15:55:00,NaT,NaT,NaT
18,a9e73e1a-0fd1-4514-b163-03a76a216069,2017-04-02 06:40:00,NaT,NaT,NaT
19,335fe581-92e1-4f3c-a5f4-2600f50007a9,2017-11-08 14:39:00,NaT,NaT,NaT
20,50840100-eccb-44f7-b3f1-c7a108456603,2017-09-27 10:17:00,NaT,NaT,NaT
21,d1e1de15-8eda-4b63-a584-5d205d32544e,2017-02-16 22:10:00,NaT,NaT,NaT
22,0a761369-3fed-4eb9-a14a-dd4e0f0e1741,2017-02-03 15:31:00,NaT,NaT,NaT
23,c190b70e-ff9f-4e76-bfb9-eb9a5e54a7e7,2017-08-11 09:27:00,NaT,NaT,NaT
24,c02a4dbb-8e6e-4296-b73b-4e8896f7ab35,2017-05-13 11:25:00,NaT,NaT,NaT

In [112]:
all_data['visit_and_purchased_diff'] = all_data.purchase_time - all_data.visit_time

Step 11: examine the results

In [113]:
all_data.head(25)

,user_id,visit_time,cart_time,checkout_time,purchase_time,visit_and_purchased_diff
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00,0 days 00:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT,NaT
5,7bc62113-d51d-4e6b-85e0-1cf29e3de74a,2017-06-03 20:05:00,NaT,NaT,NaT,NaT
6,6f22cd44-bc63-4449-a9af-2651859da2f9,2017-03-18 23:09:00,NaT,NaT,NaT,NaT
7,49a6399b-c095-4e42-92eb-af90abe2bb6a,2017-01-10 12:09:00,NaT,NaT,NaT,NaT
8,653c095d-fd74-40dd-ae3b-5a69a2613629,2017-06-27 19:21:00,NaT,NaT,NaT,NaT
9,3d9fdac1-aae3-4a01-b448-934d12047468,2017-09-24 06:43:00,NaT,NaT,NaT,NaT
10,1955acc9-5228-4277-beed-fd23f0f355b3,2017-04-20 23:01:00,NaT,NaT,NaT,NaT
11,a627ba57-b34d-4166-8b78-1ff3f46f5478,2017-08-11 13:41:00,NaT,NaT,NaT,NaT
12,10d5a3e0-1d72-4bea-9670-f0f0234d6e48,2017-02-26 10:09:00,NaT,NaT,NaT,NaT
13,0c1fa5fe-27c1-4e1f-b353-26a428da2832,2017-07-04 09:56:00,NaT,NaT,NaT,NaT
14,486480e2-98c3-4d51-8f4b-b1c07228ce84,2017-01-27 16:34:00,2017-01-27 16:44:00,2017-01-27 17:10:00,2017-01-27 17:12:00,0 days 00:38:00
15,2f954f3f-e621-4be2-9d3f-e9dc8afe38dd,2017-10-19 03:22:00,NaT,NaT,NaT,NaT
16,7a3030d1-37a4-4ed1-a410-84f50f991903,2017-09-05 18:27:00,NaT,NaT,NaT,NaT
17,d8b14a61-cc64-4e56-be6e-cd8d3b35eece,2017-08-22 15:55:00,NaT,NaT,NaT,NaT
18,a9e73e1a-0fd1-4514-b163-03a76a216069,2017-04-02 06:40:00,NaT,NaT,NaT,NaT
19,335fe581-92e1-4f3c-a5f4-2600f50007a9,2017-11-08 14:39:00,NaT,NaT,NaT,NaT
20,50840100-eccb-44f7-b3f1-c7a108456603,2017-09-27 10:17:00,NaT,NaT,NaT,NaT
21,d1e1de15-8eda-4b63-a584-5d205d32544e,2017-02-16 22:10:00,NaT,NaT,NaT,NaT
22,0a761369-3fed-4eb9-a14a-dd4e0f0e1741,2017-02-03 15:31:00,NaT,NaT,NaT,NaT
23,c190b70e-ff9f-4e76-bfb9-eb9a5e54a7e7,2017-08-11 09:27:00,NaT,NaT,NaT,NaT
24,c02a4dbb-8e6e-4296-b73b-4e8896f7ab35,2017-05-13 11:25:00,NaT,NaT,NaT,NaT

Step 12: average time to purchase

In [117]:
average_time = all_data.visit_and_purchased_diff.mean()
print(average_time)

0 days 00:43:12.380952380